<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Python Faith 2023 - HOME</h1>

    <ul>
        <li><a href="{{ url_for('index') }}">home</a></li>
        <li><a href="{{ url_for('billing') }}">billing</a></li>
        <li><a href="{{ url_for('login') }}">login</a></li>
        <li><a href="{{ url_for('register') }}">register</a></li>
    </ul>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
